*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	background-color: #B38235;
	font: 13px Helvetica, Arial;
}

.name-prompt{
	position: absolute;
	margin: auto;
	top: 0; left: 0; right: 0; bottom: 0;
	width: 400px;
	background-color: #00515C;
	z-index: 2;
	padding: 10px;
	height: 275px;
	border-radius: 4px;
}

.arena{
	background-color: #FCFBB8;
	pointer-events: none;
	position: absolute;
	margin: auto;
	top: 0; left: 0; right: 350px; bottom: 0;
	border-radius: 4px;
}

.chat{
	background-color: #FCFBB8;
	position: absolute;
	margin: auto;
	top: 0; left: 1145px; right: 0; bottom: 0;
	border-radius: 4px;
	height: 580px;
	width: 350px;
}

.chat input{
	width: 300px;
	margin: 0;
}
.chat button{
	width: 50px;
	margin: 0;
}

#messages{
	height: 93%;
	background: #FCFBB8;
	transform: rotate(180deg);
	padding: 3px;
	position: relative;
	bottom: 0;
	width: 100%;
	margin: 0;
	list-style-type: none;
}

#messages li
{
	padding: 5px 10px;
}

.chat form{
	border-top: 2px solid;
	position: absolute;
	background: none;
	padding: 0;
	margin-top: 2em;
}

.player{
	position: absolute;
	background-repeat: no-repeat;
	background-position: -10px 0;
}

.info{
	width: 100px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -85px;
	margin-left: -50px;
	opacity: .8;
}

.label{
	font-size: 12px;
	text-align: center;
	width: 100px;
	color: #5e5e5e;
	margin: 0 auto;
	display: inline-block;
}

form{
	background: #000;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

form input{
	border: 0;
	padding: 10px;
	width: 90%;
	margin-right: .5%;
}

form button{
	width: 9%;
	background: #00515C;
	border: none;
	padding: 10px;
	color: white;
}


.player-selection{
	display: inline-block;
	width: 350px;
	padding: 0;
	list-style-type: none;
	margin: 20px auto 0 auto;
}

.player-select label{
	display: inline-block;
	margin: 10px 0;
	width: 100%;
	text-align: center;
	color: white;
}

.player-selection li{
	display: inline-block;
	float: left;
	width: 33%;
	text-align: center;
	cursor: pointer;
	border: 2px solid #eee;
	padding: 10px 0;
}

.player-selection li.selected{
	border: 2px solid #158cba;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		 -o-border-radius: 5px;
			border-radius: 5px;
	border-radius: 5px;
}

/* skins */
.player1{
	background-image: url(../img/player-1-base.png);
}

.player2{
	background-image: url(../img/player-2-base.png);
}

.player3{
	background-image: url(../img/player-3-base.png);
}