*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.arena{
	background-color: #FCFBB8;
	border-radius: 4px;
	margin: auto;
	pointer-events: none;
	position: absolute;
	top: 0; left: 0; right: 350px; bottom: 0;
}

.chat{
	background-color: #FCFBB8;
	border-radius: 4px;
	height: 580px;
	margin: auto;
	position: absolute;
	top: 0; left: 1145px; right: 0; bottom: 0;
	width: 350px;
}

.chat button{
	border-bottom-right-radius: 4px;
	margin: 0;
	width: 70px;
}

.chat form{
	background: none;
	border-top: 2px solid;
	margin-top: 2em;
	padding: 0;
	position: absolute;
}

.chat input{
	border-bottom-left-radius: 4px;
	margin: 0;
	width: 280px;
}

form{
	background: #000;
	bottom: 0;
	padding: 3px;
	position: fixed;
	width: 100%;
}

form button{
	background: #00515C;
	border: none;
	color: white;
	padding: 10px;
	width: 9%;
}

form input{
	border: 0;
	margin-right: .5%;
	padding: 10px;
	width: 90%;
}

html, body{
	background-color: #B38235;
	font: 13px Helvetica, Arial;
}

.info{
	height: 40px;
	margin-top: -85px; margin-left: -50px;
	opacity: .8;
	position: absolute;
	top: 0; left: 0;
	width: 100px;
}

.label{
	color: #5e5e5e;
	display: inline-block;
	font-size: 12px;
	margin: 0 auto;
	text-align: center;
	width: 100px;
}

#messages{
	background: #FCFBB8;
	bottom: 0;
	height: 93%;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 3px;
	position: relative;
	transform: rotate(180deg);
	width: 100%;
}

#messages li
{
	padding: 5px 10px;
}

.name-prompt{
	background-color: #00515C;
	border-radius: 4px;
	height: 275px;
	margin: auto;
	padding: 10px;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	width: 400px;
	z-index: 2;
}

.overlay{
	background-color: rgba(0,0,0,0.5);
	cursor: default;
	display: none;
	height: 100vh;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	width: 100vw;
	z-index: 2;
}

.player{
	background-position: -10px 0;
	background-repeat: no-repeat;
	position: absolute;
}

.player-selection{
	display: inline-block;
	list-style-type: none;
	margin: 20px auto 0 auto;
	padding: 0;
	width: 350px;
}

.player-select label{
	color: white;
	display: inline-block;
	margin: 10px 0;
	text-align: center;
	width: 100%;
}

.player-selection li{
	border: 2px solid #eee;
	cursor: pointer;
	display: inline-block;
	float: left;
	padding: 10px 0;
	text-align: center;
	width: 33%;
}

.player-selection li.selected{
	border: 2px solid #158cba;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		 -o-border-radius: 5px;
			border-radius: 5px;
}

/* skins */
.player1{
	background-image: url(../img/player-1-base.png);
}

.player2{
	background-image: url(../img/player-2-base.png);
}

.player3{
	background-image: url(../img/player-3-base.png);
}